# crystal
.cache/shards/*
tmp/
bin/
!vendor/bin/
.shards/
*.dwarf
dist/
vendor/shards/install
vendor/.cache

# non-critical vendored crystal files
lib/**/.github/
lib/**/docs/
lib/**/examples/
lib/**/spec/

# secrets
creds.env
*.pem
